@use "../variables";

footer {
  position: relative;
  padding: var(--spacing-50);
  z-index: 1;
  background-color: black;
  color: white;
  font-family: var(--font-primary-mono);
  .logo {
    width: 230px;
    max-width: 100%;
    margin: auto;
  }

  @media all and (max-width: variables.$md) {
    padding: var(--spacing-50) var(--spacing-md);
    text-align: center;
    .text {
      max-width: unset;
    }
  }
}
