@use "../variables";
@use "../mixins";

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background-color: var(--color-bg);
  transition:
    transform 0.3s var(--cubic),
    opacity 0.3s var(--cubic);

  .marquee-wrapper {
    height: calc(var(--text-sm) * 2);
  }
  .inner {
    padding: 12px var(--space-xl);
  }
  &.is-up {
    transform: translateY(-100%);
    opacity: 0;
  }
  .logo {
    svg {
      max-width: 10em;
      path {
        fill: var(--color-primary);
      }
      &:hover {
        path {
          fill: var(--color-accent);
        }
      }
    }
  }

  nav {
    font-family: var(--font-primary-mono);
    ul {
      gap: 70px;
    }
    li {
      position: relative;
      &:hover .sub-menu {
        display: flex;
      }
    }
    .sub-menu {
      position: absolute;
      padding: var(--space-md);
      background-color: black;
      left: calc(var(--space-md) * -1);
      display: flex;
      flex-direction: column;
      gap: 12px;
      display: none;
      a {
        white-space: nowrap;
      }
    }
  }
  @media all and (min-width: variables.$md) {
    nav {
      margin: 0 toRem(155);
      margin: 0;
      ul {
        gap: toRem(70);
      }
    }
  }
  @media all and (max-width: variables.$md) {
    padding: 0;
    .inner {
      padding: toRem(11) toRem(16);
    }
    .logo {
      // width: 94px;
      z-index: 10;
      svg {
        max-width: 88px;
        max-height: 25px;
      }
    }
    .burger-wrapper {
      z-index: 10;
      width: toRem(30);
      height: toRem(25);
      margin: auto;

      &.is-active {
        .burger {
          @include mixins.burger-to-cross;
        }
        & + nav {
          display: block;
        }
      }
      .burger {
        transform: translateY(10px);
        @include mixins.burger(30px, 1px, 6px, white);
      }
    }

    nav {
      position: fixed;
      background-color: black;
      inset: 0;
      z-index: 0;
      padding: toRem(16);
      padding-top: var(--header-height);
      display: none;
      li:hover .sub-menu {
        display: block;
      }
      & > ul {
        flex-direction: column;
        gap: 1em;

        .sub-menu {
          padding: 0;
          padding-left: 2em;
          display: block;
          position: initial;
          padding-top: 0;
        }
      }
    }
  }
}
