@use "./variables";
@use "./mixins";

.cartouche {
  padding: 0.4em toRem(60);
  font-family: var(--font-primary-mono);
  background-color: black;
  color: white;
  font-size: var(--text-lg);
  text-transform: uppercase;
  &--sm {
    padding: 0.4em 1em;
    font-size: var(--text-sm);
  }
}
.btn--pill {
  border: var(--border);
  padding: 0 toRem(30) 0.1em;
  border-radius: 2em;
  text-align: center;
  display: inline-block;
  height: var(--space-50);
  line-height: calc(var(--space-50) * 0.9);
  text-transform: uppercase;
  transition:
    background-color 0.2s,
    color 0.2s;
  font-size: var(--text-lg);
  font-family: var(--font-primary-mono);
  white-space: nowrap;
  &:hover,
  &.is-active {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-bg);
  }

  @media all and (max-width: variables.$md) {
    font-size: var(--text-m-md);
    padding: 0 2em;
  }
  @media all and (min-width: variables.$md) and (max-width: 1200px) {
    font-size: var(--text-sm);
    padding: 0 2em;
    height: 3em;
    line-height: calc(3em * 0.9);
  }
}

.grid-card {
  padding: var(--space-50);
  @media all and (max-width: variables.$md) {
    padding: var(--space-m-md);
  }
  .card {
    margin-bottom: var(--space-50);
  }
}
.card {
  position: relative;
  .inner {
    display: grid;
    gap: var(--space-lg);
    .content {
      display: grid;
      gap: var(--space-lg);
      .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .cartouche {
          display: block;
          transform: translateY(0.2em);
        }
      }
    }
  }
  h3 {
    font-size: var(--text-2lg);
    @media all and (max-width: variables.$md) {
      font-size: var(--text-m-2lg);
    }
  }
  &--studio {
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    button:hover {
      background-color: white;
      color: black;
    }
    .overlay {
      opacity: 0;
      position: absolute;
      inset: 0;
      overflow: clip;
      button {
        z-index: 1;
        @include mixins.center_it;
      }
    }
  }
}

.summary-detail {
  .summary {
    padding: toRem(30) 0;
    .icon-arrow {
      position: absolute;
      right: var(--space-50);
    }

    .title {
      text-align: center;

      h2 {
        margin: 0;
        line-height: 1;
      }
    }
  }
  @media all and (max-width: variables.$md) {
    .summary {
      .title {
        padding-left: var(--text-m-xl);
        padding-right: var(--text-m-xl);
      }
      .icon-arrow {
        right: var(--space-lg);
        svg {
          width: auto;
          height: var(--text-m-xl);
        }
      }
    }
  }
}

.bg-blend {
  background-color: var(--color-accent);
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
}

.is-hidden {
  display: none;
}
